---
Language: Cpp
Standard: Cpp11
AccessModifierOffset: -2
IndentWidth: 4
IndentCaseLabels: true
ColumnLimit: 80
ContinuationIndentWidth: 4
PointerAlignment: Left
AlignAfterOpenBracket: BlockIndent
AlwaysBreakAfterReturnType: TopLevel
BreakBeforeBraces: Custom
BraceWrapping:   
  AfterFunction: true
  AfterExternBlock: true
  SplitEmptyFunction: false
  SplitEmptyNamespace: false
AlwaysBreakTemplateDeclarations: Yes
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
SpaceAfterTemplateKeyword: false
PenaltyBreakComment: 300
PenaltyBreakString: 1000
PenaltyReturnTypeOnItsOwnLine: 200
PenaltyBreakBeforeFirstCallParameter: 19
