[submodule "third_party/bgfx"]
	path = third_party/bgfx
	url = https://github.com/JoshuaBrookover/bgfx.cmake
[submodule "third_party/sdl_mixer"]
	path = third_party/sdl_mixer
	url = https://github.com/maniek2332/SDL_mixer-cmake
[submodule "third_party/chipmunk2d"]
	path = third_party/chipmunk2d
	url = https://github.com/slembcke/Chipmunk2D
[submodule "third_party/sdl2"]
	path = third_party/sdl2
	url = https://github.com/SDL-mirror/SDL
[submodule "third_party/glm"]
	path = third_party/glm
	url = https://github.com/g-truc/glm
[submodule "third_party/soloud"]
	path = third_party/soloud
	url = https://github.com/jarikomppa/soloud
